[Unit]
Description=Weston socket
RequiresMountsFor=/run

[Socket]
ListenStream=/run/wayland-0
SocketMode=0775
SocketUser=great
SocketGroup=great
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
